appdirs==1.4.4
autograd==1.5
autoray==0.6.3
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
future==0.18.3
idna==3.4
networkx==3.1
numpy==1.23.5
pandas==2.0.3
PennyLane==0.31.0
PennyLane-Lightning==0.31.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
rustworkx==0.13.0
scipy==1.10.0
semantic-version==2.10.0
six==1.16.0
toml==0.10.2
tzdata==2023.3
urllib3==2.0.3
